node_modules

# misc
.DS_Store
/**/.DS_Store
*.pem

/**/.next

.vscode/
tsconfig.tsbuildinfo

packages/shared/model/icon/iconfont.json
packages/apps/cypress/plugins/extensions
packages/apps/cypress/screenshots
packages/apps/cypress/videos
