@media screen and (min-width: 640px) {
  #app-header-container {
    right: calc((100vw - 640px) / 2);
  }
}

@media screen and (min-width: 768) {
  #app-header-container {
    right: calc((100vw - 768px) / 2);
  }
}

@media screen and (min-width: 1024px) {
  #app-header-container {
    right: calc((100vw - 1024px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  #app-header-container {
    right: calc((100vw - 1280px) / 2);
  }
}

@media screen and (min-width: 1536px) {
  #app-header-container {
    right: calc((100vw - 1536px) / 2);
  }
}

.destination-dropdown .ant-cascader-menu {
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}
