@tailwind base;
@tailwind components;
@tailwind utilities;

$radius-base: 4px;
$bg-dark: #151d35;

// icon-font class, symbol usage
.icon {
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#helix .radio-list {
  display: flex;
  align-items: center;
  padding: 2rem 10px;
  margin-bottom: 1rem;
  border-radius: $radius-base !important;
  border-width: 1px !important;

  &.ant-radio-button-wrapper-checked {
    background: transparent !important;
  }

  .ant-radio-button + span {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  &::before {
    visibility: hidden !important;
  }

  &:hover {
    color: #ffffff;
  }
}

.destination {
  .ant-input-number-handler-wrap {
    display: none !important;
  }

  .ant-input-number-input-wrap {
    width: 70%;
  }
}

.explorer-table {
  .ant-table.ant-table-small {
    background: rgba($bg-dark, 0.5);

    .ant-table-thead > tr > th {
      padding-top: 16px;
      padding-bottom: 16px;
      background: $bg-dark;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(50px);
    }

    .ant-table-tbody > tr > td {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.bridge-arrow {
  width: 100%;
  height: 2px;
  background: repeating-linear-gradient(to right, #292d3b 0, #292d3b 8px, transparent 8px, transparent 15px);
  position: relative;

  &::before,
  &::after {
    content: '';
    background-color: #292d3b;

    position: absolute;
  }

  &::before {
    width: 12px;
    height: 12px;
    right: -4px;
    bottom: -5px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
  }

  &::after {
    width: 10px;
    height: 10px;
    left: 0;
    bottom: -4px;
    transform: rotateZ(45deg);
  }
}

.bridger-selector-item {
  height: fit-content !important;
}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked.ant-radio-button-wrapper-in-form-item.bridger-selector-item {
  background: #101625;
  border: 1px solid;
  border-radius: 2px;
  transition: all 0.3s;

  &:hover,
  &:active {
    opacity: 0.8;
    border-color: #00b3ff;
  }
}

.token-transfer {
  $size: 8px;
  $horizontal: -3px;
  $vertical: -3px;

  &::before,
  &::after {
    content: '';
    width: $size;
    height: $size;
    bottom: $vertical;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    position: absolute;
  }

  &::before {
    right: $horizontal;
  }

  &::after {
    left: $horizontal;
    transform: rotate(180deg);
  }
}

.welcome {
  background-image: url('/image/home-bg.png');
  background-repeat: no-repeat;
  background-size: 80%;
}

@media screen and (min-width: 640px) {
  .welcome {
    background-position: left -50% top -200px;
  }
}

@media screen and (min-width: 768) {
  .welcome {
    background-position: left -50% top -200px;
  }
}

@media screen and (min-width: 1024px) {
  .welcome {
    background-position: left -50% top -285px;
  }
}

@media screen and (min-width: 1280px) {
  .welcome {
    background-position: left -100% top -285px;
  }
}

@media screen and (min-width: 1536px) {
  .welcome {
    background-position: left -160% top -285px;
  }
}

@import './loading.scss';
@import './reset.scss';
@import './modal.scss';
@import './apps.scss';
