@tailwind base;
@tailwind components;
@tailwind utilities;

@import './loading.scss';

$radius-base: 4px;
$bg-dark: #151d35;

// icon-font class, symbol usage
.icon {
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.anticon {
  vertical-align: 0 !important;
}

.helix-modal {
  .ant-modal-close-x {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-modal-content {
    background: $bg-dark;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
  }

  .ant-modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    background: $bg-dark;
  }

  .ant-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
  }
}

.radio-list {
  display: flex;
  align-items: center;
  padding: 2rem 10px;
  margin-bottom: 1rem;
  border-radius: $radius-base !important;
  border-width: 1px !important;

  &.ant-radio-button-wrapper-checked {
    background: transparent !important;
  }

  .ant-radio-button + span {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  &::before {
    visibility: hidden !important;
  }

  &:hover {
    color: #ffffff;
  }
}

.select-search {
  .type-select .ant-select-selector {
    border-radius: 0 !important;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
    min-width: max-content;
  }

  .ant-input {
    border-radius: 0;
  }
}

.confirm-modal.ant-modal {
  max-width: calc(100vw - 32px);

  .ant-modal-content {
    background-color: $bg-dark;
  }

  .ant-modal-confirm-btns {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .ant-modal-close-x {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.destination {
  .ant-input-number-handler-wrap {
    display: none !important;
  }

  .ant-input-number-input-wrap {
    width: 70%;
  }
}

.ant-typography .anticon-copy {
  vertical-align: middle;
}

.bridge-arrow {
  width: 100%;
  height: 2px;
  background: repeating-linear-gradient(to right, #292d3b 0, #292d3b 8px, transparent 8px, transparent 15px);
  position: relative;

  &::before,
  &::after {
    content: '';
    background-color: #292d3b;

    position: absolute;
  }

  &::before {
    width: 12px;
    height: 12px;
    right: -4px;
    bottom: -5px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
  }

  &::after {
    width: 10px;
    height: 10px;
    left: 0;
    bottom: -4px;
    transform: rotateZ(45deg);
  }
}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked.ant-radio-button-wrapper-in-form-item.bridger-selector-item {
  height: fit-content;
  background: #101625;
  border: 1px solid #343946;
  border-radius: 2px;
  transition: all 0.3s;

  &:hover,
  &:active {
    opacity: 0.8;
    border-color: #00b3ff;
  }
}

.history-modal .ant-modal {
  width: 100vw !important;
}

@media screen and(min-width: 640px) {
  .history-modal .ant-modal {
    width: 90vw !important;
  }
}

@media screen and(min-width: 1024px) {
  .history-modal .ant-modal {
    width: 75vw !important;
  }
}

@media screen and(min-width: 1280px) {
  .history-modal .ant-modal {
    width: 55vw !important;
  }
}
