.helix-modal {
  .ant-modal-close-x {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-modal-content {
    background: $bg-dark;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
  }

  .ant-modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    background: $bg-dark;
  }

  .ant-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
  }
}

.confirm-modal.ant-modal {
  max-width: calc(100vw - 32px);

  .ant-modal-content {
    background-color: $bg-dark;
  }

  .ant-modal-confirm-btns {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .ant-modal-close-x {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.history-modal .ant-modal {
  width: 100vw !important;
}

@media screen and (min-width: 640px) {
  .history-modal .ant-modal {
    width: 90vw !important;
  }
}

@media screen and (min-width: 1024px) {
  .history-modal .ant-modal {
    width: 75vw !important;
  }
}

@media screen and (min-width: 1280px) {
  .history-modal .ant-modal {
    width: 55vw !important;
  }
}
