@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  /* Layout */
  .app-header {
    @apply h-[64px];
  }
  .app-footer {
    @apply h-[58px];
  }
  .app-main {
    min-height: calc(100vh - 64px - 58px);
    @apply mt-[64px];
  }

  /* Page */
  .page-container {
    @apply max-w-8xl w-full mx-auto px-middle py-5;
  }

  /* User */
  .user-connect-wallet {
    @apply flex h-8 shrink-0 items-center gap-middle rounded-xl bg-primary px-large transition lg:hover:bg-primary/80 lg:active:translate-y-1;
  }
  .user-dropdown-item {
    @apply inline-flex items-center gap-middle rounded-xl px-middle py-small text-start transition hover:bg-white/10 lg:active:translate-y-1;
  }

  .button {
    @apply flex h-8 items-center justify-center lg:h-9;
  }

  /* Input */
  .normal-input-wrap {
    @apply border transition-colors duration-300;
  }
  .valid-input-wrap {
  }
  .invalid-input-wrap {
    @apply border-app-red focus-within:border-app-red hover:border-app-red;
  }

  .select {
    @apply border transition duration-300 focus-within:border-primary hover:border-primary disabled:cursor-not-allowed disabled:opacity-60 lg:active:translate-y-1 lg:disabled:translate-y-0;
  }
}

/* Page header loading bar */
.loading-bar {
  background: linear-gradient(90deg, #ffffff 35%, #0085FF 50%, #ffffff 65%);
  background-position: 100% 50%;
  background-size: 40% 100%;
  animation: bar-loading 2.4s linear infinite;
}
@keyframes bar-loading {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.refresh-countdown {
  animation: countdown-dash 9.3s linear infinite;
  animation-delay: 0.7s;
}
@keyframes countdown-dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -30;
  }
}

/* Drawer */
.drawer-fade-enter {
  opacity: 0;
}
.drawer-fade-enter > div {
  transform: translateX(100%);
}
.drawer-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.drawer-fade-enter-active > div {
  transform: translateX(0);
  transition: transform 300ms;
}
.drawer-fade-exit {
  opacity: 1;
}
.drawer-fade-exit > div {
  transform: translateX(0);
}
.drawer-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.drawer-fade-exit-active > div {
  transform: translateX(100%);
  transition: transform 300ms;
}

/* Tabs */
.tabs-fade-enter {
  opacity: 0;
}
.tabs-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.tabs-fade-exit {
  opacity: 1;
}
.tabs-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

/* Component loading */
.component-loading-appear,
.component-loading-enter {
  background-color: transparent;
}
.component-loading-appear-active,
.component-loading-enter-active {
  background-color: rgba(0, 0, 0, 0.35);
  transition: background-color 300ms;
}
.component-loading-appear-done,
.component-loading-enter-done {
  background-color: rgba(0, 0, 0, 0.35);
}
.component-loading-exit {
  background-color: rgba(0, 0, 0, 0.35);
}
.component-loading-exit-active {
  background-color: transparent;
  transition: background-color 300ms;
}

/* Modal */
.modal-fade-appear,
.modal-fade-enter {
  opacity: 0;
}
.modal-fade-appear > div,
.modal-fade-enter > div {
  transform: scale(0.5);
}
.modal-fade-appear-active,
.modal-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.modal-fade-appear-active > div,
.modal-fade-enter-active > div {
  transform: scale(1);
  transition: transform 300ms;
}
.modal-fade-exit {
  opacity: 1;
}
.modal-fade-exit > div {
  transform: scale(1);
}
.modal-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.modal-fade-exit-active > div {
  transform: scale(0.5);
  transition: transform 300ms;
}
