@tailwind base;
@tailwind components;
@tailwind utilities;

// icon font class, symbol usage
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.confirm-modal.ant-modal {
  max-width: calc(100vw - 32px);

  .ant-modal-confirm-btns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.select-search {
  .type-select .ant-select-selector {
    border-radius: 0 !important;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
    min-width: max-content;
  }

  .ant-input {
    border-radius: 0;
  }
}

.records-progress {
  .ant-progress-steps-outer {
    display: flex;
  }

  .ant-progress-steps-item {
    flex: 1;
    max-height: 2px;
  }
}

.record-overview:hover .anticon-right:nth-child(1) {
  animation: animate-arrow-2 1s ease-in-out infinite 0.1s;
}

.record-overview:hover .anticon-right:nth-child(2) {
  animation: animate-arrow-3 1s ease-in-out infinite 0.2s;
}

.record-overview:hover .anticon-right:nth-child(3) {
  animation: animate-arrow-1 1s ease-in-out infinite;
}

@keyframes animate-arrow-1 {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }

  70%,
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes animate-arrow-2 {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }

  70%,
  100% {
    transform: translateX(0);
    opacity: 0.5;
  }
}
@keyframes animate-arrow-3 {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  70%,
  100% {
    transform: translateX(0);
    opacity: 0.3;
  }
}

.progress-steps {
  border-radius: 4px;
  overflow: hidden;

  .step {
    position: relative;

    &:not(:last-child)::after {
      content: '';
    }
  }
}

@media (min-width: 768px) {
  .progress-steps .step:not(:last-child)::after {
    position: absolute;
    top: 30px;
    right: -25%;
    height: 1px;
    width: 50%;
  }
}

.pagination {
  .anticon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: all 1000ms;
}

.fade-exit-active {
  opacity: 0;
  display: none;
  transition: all 100ms;
}

.dropdown-networks {
  width: auto !important;
}

.configuration-control-container
  > .ant-form-item
  > .ant-form-item-control
  > .ant-form-item-control-input
  > .ant-form-item-control-input-content
  > .ant-form-item {
  &:nth-child(even) {
    background: rgba(31, 41, 55, 0.5);
    border-radius: 4px;
  }
}

.ellipse-two-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
