@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

:root {
  --page-bg: #13132d;
}

@layer components {
  .page-bg {
    /* background: var(--page-bg, linear-gradient(180deg, #02061f 0%, #1c1837 100%)); */
    @apply bg-app-bg;
  }

  .home-page-bg {
    background:
      url(../../public/images/home-page-bg.png),
      lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(64.5px);
    opacity: 0.2;
  }

  .app-footer,
  .app-header {
    @apply h-[70px] lg:h-[80px];
  }

  .app-main {
    @apply py-[70px] lg:px-[80px];
  }
}
