.token-select {
  :global {
    .ant-select-selector {
      height: auto !important;
      background: rgba(255, 255, 255, 0.1) !important;
    }

    .ant-select-selection-item::after {
      position: absolute;
    }
  }
}
